AndroidDark RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\21.0\\Styles\\Android\\AndroidLDark.fsf"
AndroidLight RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\21.0\\Styles\\Android\\AndroidLLight.fsf"
WindowsLight RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\21.0\\Styles\\Win\\Copper.Win.style"
WindowsDark RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\21.0\\Styles\\Win\\CopperDark.Win.style"
